.registrationPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #4CAF50, #8BC34A); /* Green gradient background */
}


.formCard {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.formTitle {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.otpBtn,
.registerBtn {
  background-color: #28a745; /* Green button */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.otpBtn:hover,
.registerBtn:hover {
  background-color: #49b54d; /* Darker green on hover */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.passwordWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordWrapper input {
  width: 85%;
}

.toggleButton {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.passwordRequirements {
  font-size: 12px;
  color: #777;
}

.valid {
  color: #4CAF50;
}

.invalid {
  color: red;
}

.loginLink {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.loginLink a {
  color: #007bff;
  text-decoration: none;
}

.loginLink a:hover {
  text-decoration: underline;
}
.success {
  color: green;
}

.error {
  color: red;
}


.submitButton {
  background-color: #49b54d; /* Green background */
  color: white;            /* White text color */
  padding: 10px 20px;      /* Padding around the text */
  border: none;            /* No border */
  border-radius: 5px;      /* Rounded corners */
  cursor: pointer;         /* Pointer cursor on hover */
  font-size: 16px;         /* Font size */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.submitButton:hover {
  background-color: darkgreen; /* Darker green on hover */
}
