.schemeList {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.schemeList h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.schemeItem {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.schemeItem:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.schemeItem h3 {
  color: #007bff;
  margin-bottom: 10px;
  font-size: 20px;
}

.schemeItem p {
  color: #555;
  margin-bottom: 8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.editBtn, .deleteBtn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
}

.editBtn {
  background-color: #007bff;
  color: white;
}

.deleteBtn {
  background-color: #dc3545;
  color: white;
}

.editBtn:hover {
  background-color: #0056b3;
}

.deleteBtn:hover {
  background-color: #c82333;
}

  /* editScheme.module.css */
  .documentImage {
    max-width: 100px; /* Set a maximum width */
    max-height: 100px; /* Set a maximum height */
    object-fit: cover; /* Maintain aspect ratio */
    margin-top: 10px; /* Add some space above */
  }