/* AdminLayout.module.css */

.adminLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .content {
    display: flex;
    flex-grow: 1;
  }
  
  .mainContent {
    flex-grow: 1;
    padding: 20px;
    background-color: #f0f0f0;
    overflow-y: auto;
  }
  